body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  letter-spacing: 0.1em;
}
:root {
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* ----------------header--------------- */
.header {
}
.header-navigation {
}

.header-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #4d5ae5;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.text-logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #2e2f42;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.header-list {
  line-height: 1.5;
}
.header-item {
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  font-style: normal;

  letter-spacing: 0.02em;

  color: #2e2f42;

  flex: none;
  order: 2;
  flex-grow: 0;
}
.header-link:is(:hover, :focus) {
  color: #404bbf;
}
.address {
  font-style: normal;
  line-height: 1.5;
  color: #434455;
}
.header-address {
}
.header-contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #434455;
}
/* --------------Section ---------------1 */
.section-hero {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}
.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background-color: #4d5ae5;

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #ffffff;
  cursor: pointer;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.hero-btn:is(:hover, :focus) {
  background-color: #404bbf;
}
